* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}

#logo {
    width: 64px;
}

.menu {
    display: flex;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 12px;
    position: sticky;
    z-index: 2;
}

.izquierda {
    display: flex;
    align-items: center;
    gap: 24px
}

.menu nav ul {
    display: flex;
    gap: 12px;
}

/* .menu nav ul:active{
    border: rgb(149, 0, 0) 5px solid;
    border-bottom: 5px;
} */

a {
    color: #e8e9e9;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    padding: 12px;
}

.button {
    padding: 12px;
    color: rgb(0, 12, 60);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
}

.derecha{
    text-align: left;
}

.hamburguesa {
    padding: 12px;
    border: 1px solid rgb(0, 0, 0.2);
    border-radius: 4px;
    display: flex;
    display: none;
}
.tablet-hideen{
    display:none;
}
.responsive-visible{
        display: none;
    }
.hamburguesa img {
    width: 24px;
}

.header {
    margin: auto;
    padding: 24px;
    background-color:#d1d1d1b9; /*  o #e8e9e9;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main{
    display: flex;
    background-color: #d1d1d1b9;
}

.articles{
    display: flex;
    flex-wrap: wrap;
}

.articles article{
    display: flex;
    flex-direction: column;
    align-items: center;
}

article img{
    width: 447px;
    height: 559px;
    object-fit: cover;
}

/* article img:hover{
    transform:rotate(360deg) ;
} */

form{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 50px;
    width: 1000px;
    border-radius: 25px;
}

h2{
    color: black;
}

label{
    font-size: 17px;
    margin-bottom: 10px;
}

input,textarea{
    padding: 17px 14px;
    border: 0;
    margin-bottom: 20px;
    border-radius: 10px;
    color: #e8e9e9;
}

.btn{
    width: 150px;
    align-self: center;
    cursor: pointer;
    color: black;
}

footer{
    background-color: #454545;
    min-height: 200px;
    bottom: 0;
    position: static;
}

footer ul{
    list-style: none;

}

.rows{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0;
}

.rows div{
    width: 30%;
}

.tienda, .social{
    display:flex;
    place-items: center;
    flex-direction: column;
    gap: 20px;
}

.logo{
    display: flex;
    place-content: center;
}

.social ul{
    display: flex;
    gap: 10px;
}

.rows img{
    width: 64px;
}

@media screen and (max-width:768px){

.menu {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.menu nav ul {
    flex-direction: column;
    text-align: justify;
}

.hamburguesa {
    display: block;
}
article img{
    width: 100%;
    height: 100%;
}
form{
    width: 100%;
}
.rows{
    flex-direction: column;
}

.tienda, .social{
    flex-direction: column;
    text-align: justify;
}

.social ul{
    flex-direction: column;
    text-align: justify;
}

}