*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
header {
	width: 100%;
	height: 900px;
	background-image: url('../IMG/stone\ island.webp');
	background-size: cover;
}

article:hover{
	border: 1px black solid;
}

